
  body{ color:black;
   font-family: sans-serif ;
     
   h1{
      font-size: 30px;
   }
 * 
   
    font-size: 15px;
    background-color:default;
 
 .logo{
    height: 300px;

 }
}